/* Name: Andrew Denekas  | Date: 11/16/2025 */


h3, p {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 1em;
}

input, select, textarea {
    margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {

    form {
        display: grid;
        width: 60%;
        max-width: 30em;
        gap: 1em;
        grid-template-columns: 6em 1fr;
        margin: 0 auto;
    }

    form > input[type="submit"] {
        grid-column: 2;
        width: 10em;
    }
}
